.container {
  padding: 0 0 1em 0;
  margin-top: 0.5em;
  width: 280px;
  background-color: var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.8rem;
}

.capa {
  width: 100%;
  border-radius: 15px;
}

.container:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.container h2,
.favoritar {
  padding: 0 1em;
}

.favoritar {
  width: 50px;
  margin-top: 0.5rem;
}
.link {
  text-decoration: none;
  color: var(--preto);
  text-align: left;
}
